<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0">
  <mirrors>
    <!-- Neutralize Maven's default HTTP blocker: the registry under test is
         plain HTTP inside the compose network. -->
    <mirror>
      <id>maven-default-http-blocker</id>
      <mirrorOf>disabled-by-conformance</mirrorOf>
      <url>http://0.0.0.0/</url>
    </mirror>
    <mirror>
      <id>registry</id>
      <mirrorOf>*</mirrorOf>
      <url>http://registry:8080/maven/central</url>
    </mirror>
  </mirrors>
</settings>
